<div class="container">
  <h3 class="mt-4 mb-4">Definição de objetivos</h3>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="3">
            <label>Filtro Ano:</label>
            <select [(ngModel)]="ano" class="form-select" (change)="this.getObjetivos()">
              <option>2024</option>
              <option>2025</option>
            </select>
          </th>
        </tr>
        <tr>

          <th>Mês</th>
          <th>Água <span class="btn btn-outline-success" (click)="this.tipo='AGUA';edit()" data-bs-toggle="modal"
              data-bs-target="#exampleModal"><span class="fa fa-pencil"></span></span></th>
          <th>Energia <span class="btn btn-outline-success" (click)="this.tipo='ENERGIA';edit()" data-bs-toggle="modal"
              data-bs-target="#exampleModal"><span class="fa fa-pencil"></span></span></th>
        </tr>
      </thead>
      <tbody>
        <tr>

          <td>Janeiro</td>
          <td>{{ this.filtroObjetivosAgua?.janeiro }} &euro;</td>
          <td>{{ this.filtroObjetivosEnergia?.janeiro }} &euro;</td>
        </tr>
        <tr>
          <td>Fevereiro</td>
          <td>{{ this.filtroObjetivosAgua?.fevereiro }} &euro;</td>
          <td>{{ this.filtroObjetivosEnergia?.fevereiro }} &euro;</td>
        </tr>
        <tr>
          <td>Março</td>
          <td>{{ this.filtroObjetivosAgua?.marco }} &euro;</td>
          <td>{{ this.filtroObjetivosEnergia?.marco }} &euro;</td>
        </tr>
        <tr>
          <td>Abril</td>
          <td>{{ this.filtroObjetivosAgua?.abril }} &euro;</td>
          <td>{{ this.filtroObjetivosEnergia?.abril }} &euro;</td>
        </tr>
        <tr>
          <td>Maio</td>
          <td>{{ this.filtroObjetivosAgua?.maio }} &euro;</td>
          <td>{{ this.filtroObjetivosEnergia?.maio }} &euro;</td>
        </tr>
        <tr>
          <td>Junho</td>
          <td>{{ this.filtroObjetivosAgua?.junho }} &euro;</td>
          <td>{{ this.filtroObjetivosEnergia?.junho }} &euro;</td>
        </tr>
        <tr>
          <td>Julho</td>
          <td>{{ this.filtroObjetivosAgua?.julho }} &euro;</td>
          <td>{{ this.filtroObjetivosEnergia?.julho }} &euro;</td>
        </tr>
        <tr>
          <td>Agosto</td>
          <td>{{ this.filtroObjetivosAgua?.agosto }} &euro;</td>
          <td>{{ this.filtroObjetivosEnergia?.agosto }} &euro;</td>
        </tr>
        <tr>
          <td>Setembro</td>
          <td>{{ this.filtroObjetivosAgua?.setembro }} &euro;</td>
          <td>{{ this.filtroObjetivosEnergia?.setembro }} &euro;</td>
        </tr>
        <tr>
          <td>Outubro</td>
          <td>{{ this.filtroObjetivosAgua?.outubro }} &euro;</td>
          <td>{{ this.filtroObjetivosEnergia?.outubro }} &euro;</td>
        </tr>
        <tr>
          <td>Novembro</td>
          <td>{{ this.filtroObjetivosAgua?.novembro }} &euro;</td>
          <td>{{ this.filtroObjetivosEnergia?.novembro }} &euro;</td>
        </tr>
        <tr>
          <td>Dezembro</td>
          <td>{{ this.filtroObjetivosAgua?.dezembro }} &euro;</td>
          <td>{{ this.filtroObjetivosEnergia?.dezembro }} &euro;</td>
        </tr>
        <tr>
          <td><b>Totais</b></td>
          <td><b>0 &euro;</b></td>
          <td><b>0 &euro;</b></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{ this.tipo }} | Atualizar objetivos</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form">
          <div class="row">
            <input min="0" max="1000" type="hidden" class="form-control" formControlName="id">
            <input min="0" type="hidden" class="form-control" formControlName="tipo">
            <input min="0" type="hidden" class="form-control" formControlName="ano">
            <div class="col-6">
              <label>Janeiro</label>
              <input min="0" max="1000" type="number" class="form-control" formControlName="janeiro">
            </div>
            <div class="col-6">
              <label>Fevereiro</label>
              <input min="0" max="1000" type="number" class="form-control" formControlName="fevereiro">
            </div>
            <div class="col-6">
              <label>Março</label>
              <input min="0" max="1000" type="number" class="form-control" formControlName="marco">
            </div>
            <div class="col-6">
              <label>Abril</label>
              <input min="0" max="1000" type="number" class="form-control" formControlName="abril">
            </div>
            <div class="col-6">
              <label>Maio</label>
              <input min="0" max="1000" type="number" class="form-control" formControlName="maio">
            </div>
            <div class="col-6">
              <label>Junho</label>
              <input min="0" max="1000" type="number" class="form-control" formControlName="junho">
            </div>
            <div class="col-6">
              <label>Julho</label>
              <input min="0" max="1000" type="number" class="form-control" formControlName="julho">
            </div>
            <div class="col-6">
              <label>Agosto</label>
              <input min="0" max="1000" type="number" class="form-control" formControlName="agosto">
            </div>
            <div class="col-6">
              <label>Setembro</label>
              <input min="0" max="1000" type="number" class="form-control" formControlName="setembro">
            </div>
            <div class="col-6">
              <label>Outubro</label>
              <input min="0" max="1000" type="number" class="form-control" formControlName="outubro">
            </div>
            <div class="col-6">
              <label>Novembro</label>
              <input min="0" max="1000" type="number" class="form-control" formControlName="novembro">
            </div>
            <div class="col-6">
              <label>Dezembro</label>
              <input min="0" max="1000" type="number" class="form-control" formControlName="dezembro">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" #btnFechar class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        @if(this.form.valid){
        <button type="button" (click)="atualizar()" class="btn btn-primary">Atualizar</button>
        }
      </div>
    </div>
  </div>
</div>
